:root {
    --a0: #E6E6DD;
    --a1: #393646;
    --a2: #4F4557;
    --a3: #6D5D6E;
    --a4: #F4EEE0;
    --b0: #12090f;
    --b1: #122d42;
    --b2: #125f7e;
    --b3: #1d9bc5;
    --b3: #20d9d8;
}


@media  (max-width: 1200px) 
    {
        .last-notice-container{
            height: auto;
        }

        .last-notice-box{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 40px;
        }

        .category-list {
            gap: 25px;
        }

        .contact-container {
            width: 85%;
        }

        .category {
            width: 80%;
        }

        .news-container {
            padding: 10px;
            justify-content: center;
            align-items: center;
        }

        .last-news-box {
            align-items: center;
            left: 0;
        }

        .last-news-box img {
            height: 200px;
            max-width: 250px;
        }

        .last-news {
            height: 200px;
            width: 250px;
        }

        .last-news-info {
            width: 250px;
        }

}

@media (max-width: 1024px)
    { 

        .nav-list {
            flex-direction: column;
            position: absolute;
            left: 0;
            top: 0;
            margin-top: 80px;
            background-color: var(--a1);
            width: 100%;
            height: 30vh;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            display: none;
        }

        .open-menu {
            display: flex;
        }
        .input-news {
            display: none
        }

        .news-container {
            padding: 10px;
            justify-content: center;
            align-items: center;
        }

        .last-news-box {
            align-items: center;
            left: 0;
        }

        .last-news-box img {
            height: 200px;
            width: 300px;
        }

        .last-news {
            height: 200px;
            width: 300px;
        }

        .last-news-info {
            width: 200px;
        }

        .last-news-info h4 {
            font-size: 13px;
        }

        .categories {
            width: 100%;
        }

        .news-info-box {
            width: 80%;
        }

        .contact-container {
            width: 90%;
        }

        .toggle-menu{
            display: flex;
        }

}

@media (max-width: 976px)
    {
        


        .last-news-box {
            flex-direction: column;
        }

        .last-news {
            width: 320px;
        }

        .last-news-info {
            width: 320px;
        }

        .last-news-box img {
            height: 200px;
            max-width: 320px;
        }
        .news-categories {
            width: 80%;
        }

        .categories {
            width: 100%;
        }

        .category-link {
            font-size: 14px;
        }

        .news-info-box p {
            display: none;
        }

        .news-box {
            width: 80%;
        }
        .contact-container {
            width: 80%;
            gap: 5px;
        }

        .contact-container img {
            height: 300px;
        }

        .categories-links-list {
            display: none;
        }
}

@media (max-width: 800px)
    {
        .category-link {
            font-size: 12px;
        }
}

@media (max-width: 798px) 
    {
        .last-news-box {
            flex-direction: column;
            align-items: center;
        }
        .category {
            font-size: 12px;
        }

        .news-box-info p {
            display: none;
        }

        .contact-container img{
            display: none;
        }
}

@media (max-width: 690px){
    .footer-container img {
        display: none;
    }
}

@media(max-width: 590px){
    .categories {
        width: 100%;
    }

    .news-categories {
        width: 99%;
    }

    .news-container {
        width: 99%;
        justify-content: center;
        align-items: center;
    }

    .news-p {
        width: 99%;
    }

    .news-box {
        width: 99%;
    }
}

@media (max-width: 480px){
    .news-box h4 {
        font-size: 10px;
    }

    .news-box {
        gap: 2px;
    }

    .news-p {
        width: 100%;
    }
    .red-social-list {
        gap: 10px;
    }

    .fav-news-box {
        width: 300px;
    }
}

@media (max-width: 380px){

    .fav-news-box img {
        max-width: 99%;
        min-height: 90px;
    }

    .fav-news-box {
        width: 250px;
    }

    .fav-news-section {
        padding: 10px;
    }

    .fav-news-section h2{
        width: 99%;
        text-align: center;
    }
}