* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --a0: #E6E6DD;
    --a1: #393646;
    --a2: #4F4557;
    --a3: #6D5D6E;
    --a4: #F4EEE0;
    --b0: #12090f;
    --b1: #122d42;
    --b2: #125f7e;
    --b3: #1d9bc5;
    --b3: #20d9d8;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--a4);
}

#register {
  background: url(./sign-in/bg-sign-in.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  display: flex;
  flex-direction: row;
  background-color: var(--b1);
  height: 600px;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  width: 1200px;
  gap: 120px;
}

.register-container img {
  height: 400px;
}

.register-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-welcome a {
  color: var(--b3);
  font-weight: 600;
  text-decoration: none;
}

.register-welcome h1 {
  color: var(--a0);
  margin-bottom: 30px;
}

.register-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-box h2 {
  color: var(--a0);
  margin-bottom: 60px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-register {
  border: none;
  border-radius: 8px;
  background-color: var(--a4);
  padding: 20px;
  border: 0;
  height: 40px;
  width: 320px;
}

.submit {
  height: 40px;
  border: 2px solid var(--b3);
  border-radius: 8px;
  font-weight: 600;
  color: var(--b3);
  background-color: var(--b1);
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.register-box p {
  color: var(--a0);
  margin-top: 20px;
}

.sign-in-link {
  color: var(--b3);
  text-decoration: none;
  font-weight: 600;
}